*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* -------------  Global CSS  --------------*/

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 0.875rem;
}

p{
    margin-bottom: 1.75rem;
}



/* ------  Header Section -------*/


body{
    
    background-color: black;
    color: white;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: black;
    top: 0;
}

header .head{
    margin: 1rem 2rem;
}

header .head h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    color: #00e600;
    width: fit-content;
}


.navi .navigation h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    color: black;
    width: fit-content;
    margin: 1rem 1rem;
}

.navigation{
    width: 100%;
    height: 100vh;
    background-color: #00e600;
    list-style-type: none;
    position: absolute;
    transform: translateX(-200%);
    transition: transform 0.5s ease;
    display: block;

}

.navigation.active {
  transform: translateX(-100%);
}

header .navi ul{
    margin-top: 2rem;
}

header .navi ul li{
    width: 95%;
    padding: 1rem;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


header #menu_icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    cursor: pointer;

}

header #cancel_icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2em;
    cursor: pointer;
    color:black;
}

.big_nav{
    display: none;
}


@media screen and (min-width: 700px) {
    #menu_icon{
        display: none;
    }

    header .head h1{
        font-size: 2em;
    }

    .navi{
        display: none;
    }

    header .big_nav{
        display: block;
        
    }

    header .big_nav ul{
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    
    header .big_nav ul li{
        font-size: 1em;
        color: white;
        margin: 2rem 0.9rem;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
    }
    
    header .big_nav ul li::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #00e600;
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transition: transform 0.3s;
    }
    
    header .big_nav ul li:hover::after{
        transform: scaleX(1);
    }
    
    header .big_nav ul a:hover{
        color: #00e600;
        transition: 0.3s;
    }
    
    header .big_nav ul a{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 900px){
    header .big_nav{
        margin-right: 2rem;
    }
}

/* --------- Body Section -------------*/


.main_form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.main_form .form h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    text-align: center;

}

.main_form .form h1 span{
    color: #00e600;
    
}

.main_form .form form{
    width: 100%;
    background-color: #00e600;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1.5rem;
}

.main_form .form .input{
    display: flex;
}

.main_form .form .input input{
    width: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: none;
}


.main_form .form form input::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main_form .form form input:focus{
    outline: none;
}

.main_form .form textarea{
    width: 96%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: none;
    height: 12rem;

}


.main_form .form form textarea::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main_form .form form textarea:focus{
    outline: none;
}

.main_form .form form .button{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    outline: black 1px solid;
    transition: 0.5s;
    display: flex;
    justify-self: center;
}

.main_form .form form .button:active{
        transform: scale(0.9);
}


.main_form .form form .icons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 1rem;
}

form .icons i{
    font-size: 2em;
}

.main_form .form form .icons i:hover{
    color: black;
}

.main_form .form form .icons a{
    color: white;
}




