*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* -------------  Global CSS  --------------*/

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 0.875rem;
}

p{
    margin-bottom: 1.75rem;
}



/* ------  Header Section -------*/


body{
    
    background-color: black;
    color: white;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: black;
    top: 0;
}

header .head{
    margin: 1rem 2rem;
}

header .head h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    color: #00e600;
    width: fit-content;
}


.navi .navigation h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    color: black;
    width: fit-content;
    margin: 1rem 1rem;
}

.navigation{
    width: 100%;
    height: 100vh;
    background-color: #00e600;
    list-style-type: none;
    position: absolute;
    transform: translateX(-200%);
    transition: transform 0.5s ease;
    display: block;

}

.navigation.active {
  transform: translateX(-100%);
}

header .navi ul{
    margin-top: 2rem;
}

header .navi ul li{
    width: 95%;
    padding: 1rem;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

header #menu_icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    cursor: pointer;

}

header #cancel_icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2em;
    cursor: pointer;
    color:black;
}

.big_nav{
    display: none;
}


@media screen and (min-width: 700px) {
    #menu_icon{
        display: none;
    }

    header .head h1{
        font-size: 2em;
    }

    .navi{
        display: none;
    }

    header .big_nav{
        display: block;
        
    }

    header .big_nav ul{
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    
    header .big_nav ul li{
        font-size: 1em;
        color: white;
        margin: 2rem 0.9rem;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
    }
    
    header .big_nav ul li::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #00e600;
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transition: transform 0.3s;
    }
    
    header .big_nav ul li:hover::after{
        transform: scaleX(1);
    }
    
    header .big_nav ul a:hover{
        color: #00e600;
        transition: 0.3s;
    }
    
    header .big_nav ul a{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 900px){
    header .big_nav{
        margin-right: 2rem;
    }
}

/* --------- Body Section -------------*/


.educations{
    width: 100%;
    margin-top: 6rem;
}

.educations h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #00e600;
    font-size: 2rem;
    text-align: center;
}

.educations .education {
    width: 100%;
    position: relative;
}

.educations .education .line{
    width: 0.5rem;
    height: 30rem;
    border-radius: 20px;
    background-color: #00e600;
    border: #00e600 2px solid;
    position: relative;
    left: 50%;
    margin: 2rem 0;
}

.educations .education .line .dot1{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #00e600;
    display: flex;
    justify-self: center;
    position: relative;
    top: 2rem;
    box-shadow:
    0px 0px 5px #00e600,
    0px 0px 25px #00e600,
    0px 0px 50px #00e600,
    0px 0px 100px #00e600;
}


.educations .education .line .dot1 .year1{
    width: 5rem;
    position: absolute;
    left: 1.3rem;
    padding: 0 ;
}

.educations .education .line .dot2{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #00e600;
    display: flex;
    justify-self: center;
    position: relative;
    top: 10rem;
    box-shadow:
    0px 0px 5px #00e600,
    0px 0px 25px #00e600,
    0px 0px 50px #00e600,
    0px 0px 100px #00e600;
}

.educations .education .line .dot2 .year2{
    width: 5rem;
    position: absolute;
    left: -4.5rem;
    padding: 0;
}

.educations .education .line .dot3{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #00e600;
    display: flex;
    justify-self: center;
    position: relative;
    top: 18rem;
    box-shadow:
    0px 0px 5px #00e600,
    0px 0px 25px #00e600,
    0px 0px 50px #00e600,
    0px 0px 100px #00e600;
}

.educations .education .line .dot3 .year3{
    width: 5rem;
    position: absolute;
    left: 1.3rem;
    padding: 0;
}

.educations .education .study{
    width: 48%;
    border: 2px solid #00e600;
    border-radius: 50px;
}

.educations .education .one{
    position: absolute;
    right: 0;
    top: 3.5rem;
}

.educations .education .two{
    position: absolute;
    top: 12.5rem;
}

.educations .education .three{
    position: absolute;
    right: 0;
    top: 21.5rem;
}


.educations .education .study h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #00e600;
    font-size: 1.1em;
    padding: 0.2rem 1.5rem;
    margin: 0;
}

.educations .education .study p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0rem 1rem 0.5rem 1.5rem;

}

@media screen and (min-width: 700px) {
    .educations .education .study{
        width: 100%;
        max-width: 40%;
    }

    .educations .education .one{
        position: absolute;
        left: 51%;
    }

    .educations .education .two{
        position: absolute;
        right: 50.5%;
    }

    .educations .education .three{
        position: absolute;
        left: 51%;
    }
}

@media screen and (min-width: 900px) {
    .educations .education .study{
        width: 100%;
        max-width: 25%;
        transition: 0.5s;
    }

    .study:hover{
        transform: scale(1.1,1.1);
        cursor: pointer;
        box-shadow:
        0px 0px 5px #00e600,
        0px 0px 25px #00e600,
        0px 0px 50px #00e600,
        0px 0px 100px #00e600;
    }

    .educations .education .one{
        position: absolute;
        left: 60%;
        top: 2%;
    }

    .educations .education .two{
        position: absolute;
        left: 16%;
        top: 37%;
    }

    .educations .education .three{
        position: absolute;
        left: 60%;
        top: 73%;
    }

    .educations .education .line{
        height: 25rem;
        margin: 0rem 0rem 2rem 0rem;
    }
}

@media screen and (min-width: 1200px) {
    .educations .education .one{
        position: absolute;
        left: 58%;
        top: 2%;
    }

    .educations .education .two{
        position: absolute;
        left: 18%;
        top: 37%;
    }

    .educations .education .three{
        position: absolute;
        left: 58%;
        top: 73%;
    }
}


