*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* -------------  Global CSS  --------------*/

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 0.875rem;
}

p{
    margin-bottom: 1.75rem;
}



/* ------  Header Section -------*/


body{
    
    background-color: black;
    color: white;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: black;
    top: 0;
}

header .head{
    margin: 1rem 2rem;
}

header .head h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    color: #00e600;
    width: fit-content;
}


.navi .navigation h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    color: black;
    width: fit-content;
    margin: 1rem 1rem;
}

.navigation{
    width: 100%;
    height: 100vh;
    background-color: #00e600;
    list-style-type: none;
    position: absolute;
    transform: translateX(-200%);
    transition: transform 0.5s ease;
    display: block;

}

.navigation.active {
  transform: translateX(-100%);
}

header .navi ul{
    margin-top: 2rem;
}

header .navi ul li{
    width: 95%;
    padding: 1rem;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}


header #menu_icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    cursor: pointer;

}

header #cancel_icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2em;
    cursor: pointer;
    color:black;
}

.big_nav{
    display: none;
}


@media screen and (min-width: 700px) {
    #menu_icon{
        display: none;
    }

    header .head h1{
        font-size: 2em;
    }

    .navi{
        display: none;
    }

    header .big_nav{
        display: block;
        
    }

    header .big_nav ul{
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    
    header .big_nav ul li{
        font-size: 1em;
        color: white;
        margin: 2rem 0.9rem;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
    }
    
    header .big_nav ul li::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #00e600;
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transition: transform 0.3s;
    }
    
    header .big_nav ul li:hover::after{
        transform: scaleX(1);
    }
    
    header .big_nav ul a:hover{
        color: #00e600;
        transition: 0.3s;
    }
    
    header .big_nav ul a{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;

    }
}


/* --------- Body Section -------------*/


.main{
    position: relative;
    top: 7rem;
}

.main .content{
    position: absolute;
    top: 27rem;
}


.main .my_roll{
    font-size: 2.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #00e600;
    margin-top: 1rem;
}

.main .content{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main .content .hello{
    font-size: 1.8em;
}

.main .content .name{
    color: #00e600;
}

.main .content .role{
    font-size: 2em;
}

.main .content .about{
    font-size: 1em;
    padding: 0rem 1rem;
}


.resume_buttons a{
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.resume_buttons a button{
    padding: 0.4rem;
    width: 10rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.1rem;
    outline: #00e600 3px solid;
}

.main .content .resume_buttons{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 100%;
    max-width: 30rem;
}

.content .icons{
    max-width: 25rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    margin-top: 1rem;
    justify-self: center;
    width: 100%;
    max-width: 30rem;
    margin-bottom: 1rem;
}

.content .icons i{
    font-size: 2em;
}

.content .icons a{
    color: white;
    display: flex;
    justify-self: center;
}

.image{
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
}

.image img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    box-shadow: 
    0px 0px 5px #00e600,
    0px 0px 25px #00e600,
    0px 0px 50px #00e600,
    0px 0px 100px #00e600;
    border: 5px solid #00e600;
    cursor: pointer;
}


@media screen and (min-width: 900px){

    header .big_nav{
        margin-right: 2rem;
    }

    .main{
        display: flex;
        width: 100%;
        position: relative;
    }

    .main .my_roll{
        display: none;
    }


    .main .image{
        width: 50%;
        position: absolute;
        right: 1rem;
        top: 2.5rem;
    }

    .main .image img{
        height: 23rem;
        width: 23rem;
    }

    .main .content{
        width: 50%;
        position: absolute;
        top: 3rem;
        left: 1rem;
        text-align: start;
        margin-left: 1rem;
    }

    .main .content .about{
        padding: 0;
    }

    .main .content .name{
        color: white;
    }

    .main .content span{
        color: #00e600;
    }

    .main .content .resume_buttons{
        display: flex;
        justify-self: start;
        
    }

    .resume_buttons a button{
        transition: 0.5s;
    }

    .resume_buttons a button:hover{
        box-shadow: inset 0 -100px 0 0 #00e600;
        color: white;
    }   

    .resume_buttons a button:active{
        transform: scale(0.9);
    }

    .main .content .icons{
        display: flex;
        justify-self: start;
        margin-top: 1.3rem;
    }

    .content .icons i:hover{
        color: #00e600;
    }
}
