{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'Education.css' %}">
</head>
<body>

        <header>
        <div class="head">
            <h1>Portfolio..</h1>
        </div>

        <div class="navi">
            <ul id="navigation">
                <li><a href="/home/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/skills/">Skills</a></li>
                <li><a href="/education/">Education</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
            <div class="menu" id="menu_icon">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>


    <div class="educations">
        <h1>Educations</h1>
        <div class="education">
            <div class="study one">
                <h3>SSLC and HSC</h3>
                <p>I done my schooling in Government Higher Secondary School Sennanur.</p>
            </div>

            <div class="study two">
                <h3>Graduation</h3>
                <p>B.COM (Computer Application) Bharathiar University arts and science college Thondamuthur.</p>
            </div>

            <div class="study three">
                <h3>Python Full Stack Development</h3>
                <p>IPCS Global Institution Coimbatore.</p>
            </div>

            <div class="line">
                <div class="dot1"></div><div class="year1">2019-2021</div>
                <div class="dot2"></div><div class="year2">2021-2024</div>
                <div class="dot3"></div><div class="year3">2024-2025</div>
            </div>
        </div>
    </div>


    
    <script>
        $(document).ready(function(){
            $("#menu_icon").click(function(){
                $("#navigation").toggle();
            });
        });
    </script>
</body>
</html>