{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'Projects.css'%}">
</head>
<body>

    <header>
        <div class="head">
            <h1>Portfolio..</h1>
        </div>

        <div class="navi">
            <ul id="navigation">
                <li><a href="/home/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/skills/">Skills</a></li>
                <li><a href="/education/">Education</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
            <div class="menu" id="menu_icon">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    

    <!-- Project Section -->
<section id="projects" class="project-section">
    <div class="container">
        <h2>My <span>Projects</span></h2>
        <div class="project-list">
            {% for project in projects %}
            <div class="project-card">
                {% if project.image %}
                <img src="{{ project.image.url }}" alt="{{ project.title }}">
                {% endif %}
                <h1>{{ project.title }}</h1>
                <p id="description">{{ project.description }}</p>
                <div class="links">
                    {% if project.github_link %}
                    <a href="{{ project.github_link }}" target="_blank"><button>View Code</button></a>
                    {% endif %}
                    {% if project.demo_link %}
                    <a href="{{ project.demo_link }}" target="_blank"><button>Live Demo</button></a>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p id="no">No projects added yet.</p>
            {% endfor %}
        </div>
    </div>
</section>


    <script>
        $(document).ready(function(){
            $("#menu_icon").click(function(){
                $("#navigation").toggle();
            });
        });
    </script>

</body>
</html>